<h1>Welcome, <%= @user.username %>!</h1>

<br><br><br>

<ul>
  <li><a href="/teams/new">Create a PokéTeam</a></li>
  <li><a href="/users/<%= current_user.id %>">Your PokéTeams</a></li>  
  <li><a href="/teams">PokéTeams</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>