<h1><%= @username %>'s Teams</h1>
<br>

  <% @teams.each do |team| %>
    <h3><a href='/teams/<%= team.id %>'><%= team.name %></a></h3>
  <% end %>

<br><br>

<ul>
  <li><a href="/teams/new">Create a PokéTeam</a></li>
  <li><a href="/users/<%= current_user.id %>">Your PokéTeams</a></li>  
  <li><a href="/teams">PokéTeams</a></li>
  <li><a href="/users">Home</a></li>
</ul>