<h1>PokéTeams</h1>
<br>
<p><a href="/login">Login</a></p>
<p><a href="/signup">Signup</a></p>

<div class="container">

    <h2>What is PokéTeams?</h2>
      <p>Here you can keep track of your Pokémon team builds and share them with others online! Have fun preparing your next team, sharing what has brought you success in the past, or challenging team combinations to keep any trainer on their toes.</p>

</div>